<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <activeProfiles>
        <activeProfile>default</activeProfile>
    </activeProfiles>

    <profiles>
        <profile>
            <id>default</id>
            <repositories>
                <repository>
                    <id>mvnrepository</id>
                    <url>https://mvnrepository.com</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </repository>
                <repository>
                    <id>github</id>
                    <url>https://maven.pkg.github.com/Aleksizz/project-maven/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <servers>
        <server>
            <id>github</id>
            <username>***</username>
            <password>***</password>
        </server>
    </servers>
</settings>
